/* will make background of entire page white */

body {
  background-color: white;
}

/* will center and give About Me space */
h1 {
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
}

/* <p> tag the same font family */
p {
  font-family: sans-serif;
  font-size: 1.5rem;
}

/* will style the font and have the container float to the left of the page */

.container-about {
  background-color: #0e192e;
  color: white;
  font-size: large;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}

/* will make image responsive */
.responsive-img {
  max-width: 200px;
  margin: auto;
  height: auto;
  align-items: center;
  padding: 10px;
}

.container-portfolio {
  background-color: #0e192e;
  color: white;
  font-size: large;
  margin-top: 5px;
  padding: 5px;
}

.container-contact {
  background-color: #0e192e;
  color: white;
  font-size: large;
  margin-top: 5px;
  padding: 5px;
}

/* attempt to make color white. */
button {
  background-color: white;
}

/* Cannot for life of me figure out how to center images that are responsive */
/* May consider adding a border to certain elements for style purposes if so, use #56c2f2 (novice heroes color) */
/* Consider adding padding to paragraph */
